<!DOCTYPE html>
<html>
<head>
  <title>Confer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] if flash[:notice] %>
<header class="navbar navbar-fixed-top navbar-inverse" >
	<div class = "container">
	<ul class="nav navbar-nav navbar-right">
	<% if session[:id].nil? %>
<li>
	<%= link_to("Sign in", :new_session) %>
</li>
<li>
	<%= link_to("Sign up", :create_user) %>
</li>
<% else %>
<li>
	<%= link_to("Reset PIN", :forgot_user) %>
</li>
<li>
	<%= link_to("Find a conference", :members_search) %>
</li>
<li>
	<%= link_to("Sign out", :destroy_session) %>
<% end %>
</ul>
</div>
</header>
 <div class="container">
<%= yield %>
</div>

</body>
</html>
