
<div class="row">
	<div class ="col-md-8">
		<h1> <%= @conference %> </h1>
		<h1> <%= @friend %> </h1>
	</div>
	<div class="col-md-4">
		<h2>Recent signups</h2>
		<ul class="list-group">
			<%= @recent_conferences.each do |key, value| %>
				<li class="list-group-item">
				<span class="badge"><%= value%></span>
				 <%= key %>
				</li> 
			<% end %>
		</ul>
	</div>
</div>
