<h1>Results</h1>

<% if !@local_result.nil? %>
<h1> Local Results </h1>
<% @local_result.each do |x| %>
<%= x.conference_description %>
<% end %>
<% end %>


<div class="row">
<% if !@feed.nil? %>
<%= @feed.entries.count %> conferences!
<% feed_modal_count = 0%>
<% @feed.entries.each do |x| %>
	<% title_and_date = x.title.rpartition(",") %>
	<% title = title_and_date.first %>
	<% date = title_and_date.last %>
<p>
<div class="col-md-4">
<h2><%= title %><h2>
	<h3><%= date %></h3> <%= link_to "i'm going", members_conference_signup_path(:conference_id => x.id, :conference_title => title, :conference_date => date, :conference_summary => x.summary), :class => "btn btn-info btn-sm"  %> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target='#<%= feed_modal_count %>' >details</button>
	<hr>
</div>
<!-- Modal -->
<div id= '<%= feed_modal_count %>' class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <%= x.summary.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<%feed_modal_count+=1%>
<% end %>
<% end %>
</div>


<div class="row">
	<div class="col-md-4 col-md-offset-8">
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">or add your own</button>
	</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Submit Your Own Conference</h4>
      </div>
      <div class="modal-body">
     
      	
      	<%= form_tag("/members-signup", method: "get") do %>
		<%= text_field_tag(:conference_id, Time.now.nsec, :placeholder => "", :class => "none") %>
			<div class="form-group">	
		<%= text_field_tag(:conference_title, '', :placeholder => "title", :class => "form-control") %>
			</div>
				
			<div class="form-group">	
		<%= text_field_tag(:conference_date, '', :placeholder => "dates", :class => "form-control") %>
			</div>
				
			<div class="form-group">	
		<%= text_area_tag(:conference_summary, '', :placeholder => "description", :class => "form-control") %>
			</div>

			<div class="form-group">	
		<%= submit_tag("Save Event Details", :class => "form-control btn btn-default") %>
			</div>
		<% end %>
				
	
  	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
    </div>

  </div>
</div>

</p>