
<div class="row">
<% if !@local_result.nil? %>
<h1>Popular Results </h1>

<% local_result_count = 0 %>
<% @local_result.each do |x| %>
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading tall"><%= x.conference_description %></div>
			<div class="panel-body"><%= x.conference_date %></div>
			<div class="panel-footer">
				<%= link_to "i'm going", members_conference_signup_path(:conference_id => x.conference_id, :conference_title => x.conference_description, :conference_date => x.conference_date, :conference_summary => x.conference_summary), :class => "btn btn-info btn-sm"  %> 
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target='#l<%= local_result_count %>' >details</button>
			</div>
		</div>
	</div>

	<!--local results modal -->
	<div id= 'l<%= local_result_count %>' class="modal fade" role="dialog">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
       			 <h4 class="modal-title">&nbsp;</h4>
      			</div>
      <div class="modal-body">
        <%= x.conference_summary.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
	</div>
	<% local_result_count += 1 %>


<% end %>
<% end %>
<!-- </div> --> <!--end row -->


<!-- <div class="row"> -->
<% if !@feed.nil? %>
<!-- <h1><%= @feed.entries.count %> public conferences!</h1> -->

<% feed_modal_count = 0%>
<% @feed.entries.each do |x| %>
	<% title_and_date = x.title.rpartition(",") %>
	<% title = title_and_date.first %>
	<% date = title_and_date.last %>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading tall"><%= title %></div>
		<div class="panel-body"><%= date %></div>
		<div class="panel-footer">
		 <%= link_to "i'm going", members_conference_signup_path(:conference_id => x.id, :conference_title => title, :conference_date => date, :conference_summary => x.summary), :class => "btn btn-info btn-sm"  %> 
		 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target='#<%= feed_modal_count %>' >details</button>
		</div>
	</div>
</div>
<!-- Modal for details -->
<div id= '<%= feed_modal_count %>' class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <%= x.summary.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> <!--end details modal -->
<%feed_modal_count+=1%>
<% end %>
<% end %>


<div class="col-md-4">
<div class="panel panel-warning">
	<div class="panel-heading tall">Creating a new conference?</div>
	<div class="panel-body">You can tell us about it.</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">submit your own conference</button>
	</div>
</div>
</div>
</div> <!--end row -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Submit Your Own Conference</h4>
      </div>
      <div class="modal-body">
     
      	
      	<%= form_tag("/members-signup", method: "get") do %>
		<%= text_field_tag(:conference_id, Time.now.nsec, :placeholder => "", :class => "none") %>
			<div class="form-group">	
		<%= text_field_tag(:conference_title, '', :placeholder => "title", :class => "form-control") %>
			</div>
				
			<div class="form-group">	
		<%= text_field_tag(:conference_date, '', :placeholder => "dates", :class => "form-control") %>
			</div>
				
			<div class="form-group">	
		<%= text_area_tag(:conference_summary, '', :placeholder => "description", :class => "form-control") %>
			</div>

			<div class="form-group">	
		<%= submit_tag("Save Event Details", :class => "form-control btn btn-default") %>
			</div>
		<% end %>
				
	
  	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
    </div>

  </div>
</div> <!--end my modal -->
